<%- include("../partials/header") %>

<div class="text-center">
    <h1>Level 8</h1>
    <br>
    <p>Ask and you shall receive</p>
    <p class="flag"></p>
</div>
<script>
    let typed = ""
    $(document).keypress(function (e) {
        typed += e.key;
        if (typed.includes("flag")) {
            $(".flag").text("<%- levels[9].url %>")
        }
    })
</script>
<%- include("../partials/flagForm") %>

<%- include("../partials/footer") %>