<%- include("../partials/header") %>

<div class="text-center">
    <h1>Level 0</h1>
    <br>
    <p>Find the flag. Oh look, there it is --> <b><%- levels[1].url %></b></p>
</div>
<!--Challenge: Find the root of challenge. Treat this as the home directory for all challenge problems-->


<!--Hint: go to /challenge-->
<%- include("../partials/flagForm") %>

<%- include("../partials/footer") %>