<%- include("../partials/header") %>

<div class="text-center">
    <h1>Level 7</h1>
    <br>
    <p>Find the treasure, the flag is within.</p>
    <p class="flag"></p>
</div>
<script>
    $(".navbar-brand").click(function () {
        $(".flag").text("<%- levels[8].url %>")
    })
</script>
<%- include("../partials/flagForm") %>

<%- include("../partials/footer") %>

