<%- include("../partials/header") %>

<div class="text-center">
    <h1>Level 10</h1>
    <br>
    <p>Find the flag. It's hidden pretty well.</p>
</div>
<!-- flag: <%- levels[10].flag%> -->
<%- include("../partials/flagForm") %>

<%- include("../partials/footer") %>