<%- include("../partials/header") %>

<div class="text-center">
    <h1>Level 3</h1>
    <p>In between the eyes you will find truth.</p>
    <%- locals.flag ? locals.flag :"" %>
</div>

<%- include("../partials/flagForm") %>

<%- include("../partials/footer") %>