<%- include("../partials/header") %>

<br>
<div class="text-center">
    <h1>Welcome to Treasure Hunt!</h1>
    <br>
    <p>This is a Capture the flag like game where you use your puzzle solving (and sometimes programming) skills to solve problems and find the flag.</p>
    <p>Click on Levels in the navbar to choose your level.</p>
</div>
<%- include("../partials/footer") %>