<%- include("../partials/header") %>

<br>
<h1 class="text-center">Welcome to Treasure Hunt Leader Board!</h1>
<br>
<p class="text-center">Here you can see the top times of the people that have completed the Treasure Hunt</p>

<%- include("../partials/footer") %>