<%- include("../partials/header") %>

<br>
<div class="text-center">
    <h1>Your progress has been saved!</h1>
    <br>
    <p>Here is your token, enter this next time to restore your progress (time will not be stopped): <%- token %></p>
    <p>Restore your progress by entering your token here</p>
    <%- include("../partials/progressForm") %>
</div>
<%- include("../partials/footer") %>