<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 10</h1>
    <br>
    <p>Put homestretch and go to the secret url, (use the console)</p>
</div>

<%- include("../partials/footer") %>