<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 1</h1>
    <br>
    <p>You look tired, maybe get coffee. Make sure to prepend /challenge/ to all requests.</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>