<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 3</h1>
    <br>
    <p>Playtime is over, put away</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>