<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 6</h1>
    <br>
    <p>Get icecream with want=true</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>