<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 8</h1>
    <br>
    <p>Get the foe from alice and delete it with the weapon "Vorpal Sword"</p>
    <p>Do it in multiple parts if you want to reduce the challenge. Remember you can use the console too</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>