<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 5</h1>
    <br>
    <p>Post "hello" to board</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>