<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 0</h1>
    <br>
    <p>Challenges test your knowledge of javascript and jquery, type your answers in the textbox and a button to continue will appear if it is correct</p>
    <p>Alternatively, you can type into the console, however you would have to reload the page for the button to appear</p>
    <p>GET /challenge</p>
</div>

<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>