<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 7</h1>
    <br>
    <p>Get the secret from fefifofum and post it to jack</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>