<%- include("../partials/header") %>

<div class="text-center">
    <h1>Challenge 9</h1>
    <br>
    <p>Get your way up the tower using "hair" for rope and find the princess then put her on horse</p>
</div>
<%- include("../partials/challengeForm") %>

<%- include("../partials/footer") %>