<%- include("../partials/header") %>

<div class="text-center">
    <h1>Congratulations!</h1>
    <br>
    <p>You completed all of the challenges! That is pretty amazing we didn't think that anyone would get here.</p>
    <p>Since you are clearly well versed, feel free to try and find/exploit any bugs in our web app and let us know if you find them.</p>
    <p>Check out the competitive sudoku if you have not already, otherwise thanks for playing and we hope you had fun.</p>
</div>

<%- include("../partials/footer") %>